<div id="container">
  <div id="scoreboard-container">
  <h1>EGELAND FIELD</h1>
  <table id="runs">
    <thead>
      <tr>
        <th id="teamheader"></th>
        <th id="inning1header">1</th>
        <th id="inning2header">2</th>
        <th id="inning3header">3</th>
        <th id="inning4header">4</th>
        <th id="inning5header">5</th>
        <th id="inning6header">6</th>
        <th id="inning7header">7</th>
        <th id="inning8header">8</th>
        <th id="inning9header">9</th>
        <th id="runsheader">Runs</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th id="visitor_name" class="team-name">VISITOR</th>
        <td id="visitor_1" class="current-inning">0</td>
        <td id="visitor_2">0</td>
        <td id="visitor_3">0</td>
        <td id="visitor_4">0</td>
        <td id="visitor_5">0</td>
        <td id="visitor_6">0</td>
        <td id="visitor_7">0</td>
        <td id="visitor_8">0</td>
        <td id="visitor_9">0</td>
        <td id="visitor_runs">00</td>
      </tr>
      <tr>
        <th id="home_name" class="team-name">HOME</th>
        <td id="home_1">0</td>
        <td id="home_2">0</td>
        <td id="home_3">0</td>
        <td id="home_4">0</td>
        <td id="home_5">0</td>
        <td id="home_6">0</td>
        <td id="home_7">0</td>
        <td id="home_8">0</td>
        <td id="home_9">0</td>
        <td id="home_runs">00</td>
      </tr>
    </tbody>
  </table>
  <table id="lights">

    <tr>
      <th>SINGLES</th>
      <th>DOUBLES</th>
      <th>TRIPLES</th>
      <th>OUTS</th>
    </tr>
    <tr>
      <td class="red-lights" id="single-lights">
        <div class="led-box">
            <div class="led-red" id="single-light-1"></div>
            <div class="led-red" id="single-light-2"></div>
            <div class="led-red" id="single-light-3"></div>
        </div>
      </td>
      <td class="red-lights" id="double-lights">
        <div class="led-box">
            <div class="led-red" id="double-light-1"></div>
            <div class="led-red" id="double-light-2"></div>
            <div class="led-red" id="double-light-3"></div>
        </div>
      </td>
      <td class="red-lights" id="triple-lights">
        <div class="led-box">
            <div class="led-red" id="triple-light-1"></div>
            <div class="led-red" id="triple-light-2"></div>
            <div class="led-red" id="triple-light-3"></div>
        </div>
      </td>
      <td class="red-lights" id="out-lights">
        <div class="led-box">
            <div class="led-red" id="out-light-1"></div>
            <div class="led-red" id="out-light-2"></div>
        </div>
      </td>
    </tr>
  </table>
  </div>
  <div id="controller-container">
    <table id="controller">
      <tr>
        <td>INNING <button type="button" id="inning-down">PREV</button><button type="button" id="inning-up">NEXT</button></td>
        <td id="inning">TOP 1</td>
      </tr>
      <tr>
        <td>SINGLES <button type="button" id="single-down">-1</button><button type="button" id="single-up">+1</button></td>
        <td id="singles">0</td>
      </tr>
      <tr>
        <td>DOUBLES <button type="button" id="double-down">-1</button><button type="button" id="double-up">+1</button></td>
        <td id="doubles">0</td>
      </tr>
      <tr>
        <td>TRIPLES <button type="button" id="triple-down">-1</button><button type="button" id="triple-up">+1</button></td>
        <td id="triples">0</td>
      </tr>
      <tr>
        <td>RUNS <button type="button" id="run-down">-1</button><button type="button" id="run-up">+1</button></td>
        <td id="runs-count">0</td>
      </tr>
      <tr>
        <td>OUTS <button type="button" id="out-down">-1</button><button type="button" id="out-up">+1</button></td>
        <td id="out-count">0</td>
      </tr>
    </table>
    </div>
</div>

<script>
  var home_scores = [0,0,0,0,0,0,0,0,0];
  var visitor_scores = [0,0,0,0,0,0,0,0,0];
  var inning = 1;
  var at_bat = "visitor";
  var singles = 0;
  var doubles = 0;
  var triples = 0;
  var outs = 0;

  document.getElementById("single-down").onclick = function() {singleDown()};
  document.getElementById("single-up").onclick = function() {singleUp()};
  document.getElementById("double-down").onclick = function() {doubleDown()};
  document.getElementById("double-up").onclick = function() {doubleUp()};
  document.getElementById("triple-down").onclick = function() {tripleDown()};
  document.getElementById("triple-up").onclick = function() {tripleUp()};
  document.getElementById("out-down").onclick = function() {outDown()};
  document.getElementById("out-up").onclick = function() {outUp()};
  document.getElementById("run-down").onclick = function() {runDown()};
  document.getElementById("run-up").onclick = function() {runUp()};
  document.getElementById("inning-down").onclick = function() {inningDown()};
  document.getElementById("inning-up").onclick = function() {inningUp()};

  function singleDown() {
    singlesElem = document.getElementById("singles");
    if (singles > 0) {
      singles--;
    }
    singlesElem.innerHTML = singles;
    for (let i = 3; i > singles; i--) {
      var light = document.getElementById("single-light-" + i);
      light.classList.remove("led-red-on");
      light.classList.add("led-red");
    }
    updateScoreboard();
  }

  function singleUp() {
    singlesElem = document.getElementById("singles");
    if (singles < 3) {
      singles++;
    }
    singlesElem.innerHTML = singles;
    for (let i = 1; i <= singles; i++) {
      var light = document.getElementById("single-light-" + i);
      light.classList.remove("led-red");
      light.classList.add("led-red-on");
    }
    updateScoreboard();
  }

  function doubleDown() {
    doublesElem = document.getElementById("doubles");
    if (doubles > 0) {
      doubles--;
    }
    doublesElem.innerHTML = doubles;
    for (let i = 3; i > doubles; i--) {
      var light = document.getElementById("double-light-" + i);
      light.classList.remove("led-red-on");
      light.classList.add("led-red");
    }
    updateScoreboard();
  }

  function doubleUp() {
    doublesElem = document.getElementById("doubles");
    if (doubles < 3) {
      doubles++;
    }
    doublesElem.innerHTML = doubles;
    for (let i = 1; i <= doubles; i++) {
      var light = document.getElementById("double-light-" + i);
      light.classList.remove("led-red");
      light.classList.add("led-red-on");
    }
    updateScoreboard();
  }

  function tripleDown() {
    triplesElem = document.getElementById("triples");
    if (triples > 0) {
      triples--;
    }
    triplesElem.innerHTML = triples;
    for (let i = 3; i > triples; i--) {
      var light = document.getElementById("triple-light-" + i);
      light.classList.remove("led-red-on");
      light.classList.add("led-red");
    }
    updateScoreboard();
  }

  function tripleUp() {
    triplesElem = document.getElementById("triples");
    if (triples < 3) {
      triples++;
    }
    triplesElem.innerHTML = triples;
    for (let i = 1; i <= triples; i++) {
      var light = document.getElementById("triple-light-" + i);
      light.classList.remove("led-red");
      light.classList.add("led-red-on");
    }
    updateScoreboard();
  }

  function outDown() {
    outsElem = document.getElementById("out-count");
    if (outs > 0) {
      outs--;
    }
    outsElem.innerHTML = outs;
    for (let i = 2; i > outs; i--) {
      var light = document.getElementById("out-light-" + i);
      light.classList.remove("led-red-on");
      light.classList.add("led-red");
    }
    updateScoreboard();

  }

  function outUp() {
    outsElem = document.getElementById("out-count");
    if (outs < 2) {
      outs++;
    }
    outsElem.innerHTML = outs;
    for (let i = 1; i <= outs; i++) {
      var light = document.getElementById("out-light-" + i);
      light.classList.remove("led-red");
      light.classList.add("led-red-on");
    }
    updateScoreboard();
  }

  function runDown() {
    if (at_bat == "visitor") {
      var runs = visitor_scores[inning - 1];
    } else {
      var runs = home_scores[inning - 1];
    }
    if (runs > 0) {
      runs--;
      var runsElement = document.getElementById("runs-count");
      runsElement.innerHTML = runs;
      if (at_bat == "visitor") {
        visitor_scores[inning - 1] = runs;
        var inningElement = document.getElementById("visitor_" + inning);
        inningElement.innerHTML = runs;
        var totalRuns = document.getElementById("visitor_runs");
        totalRuns.innerHTML = visitor_scores.reduce((partialSum, a) => partialSum + a, 0).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false});
      } else {
        home_scores[inning - 1] = runs;
        var inningElement = document.getElementById("home_" + inning);
        inningElement.innerHTML = runs;
        var totalRuns = document.getElementById("home_runs");
        totalRuns.innerHTML = home_scores.reduce((partialSum, a) => partialSum + a, 0).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false});
      }
    }
    updateScoreboard();


  }

  function runUp() {
    if (at_bat == "visitor") {
      var runs = visitor_scores[inning - 1];
    } else {
      var runs = home_scores[inning - 1];
    }

      runs++;
      var runsElement = document.getElementById("runs-count");
      runsElement.innerHTML = runs;
      if (at_bat == "visitor") {
        visitor_scores[inning - 1] = runs;
        var inningElement = document.getElementById("visitor_" + inning);
        inningElement.innerHTML = runs;
        var totalRuns = document.getElementById("visitor_runs");
        totalRuns.innerHTML = visitor_scores.reduce((partialSum, a) => partialSum + a, 0).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false});
      } else {
        home_scores[inning - 1] = runs;
        var inningElement = document.getElementById("home_" + inning);
        inningElement.innerHTML = runs;
        var totalRuns = document.getElementById("home_runs");
        totalRuns.innerHTML = home_scores.reduce((partialSum, a) => partialSum + a, 0).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false});
      }
      updateScoreboard();
  }

  function inningDown() {
    if (at_bat == "visitor") {
      if (inning > 0) {
        var inningDetail = document.getElementById("visitor_" + inning);
        inningDetail.classList.remove("current-inning");
        inning--;
        at_bat = "home"
        var inningElement = document.getElementById("inning");
        inningElement.innerHTML = "BOT " + inning;
        inningDetail = document.getElementById("home_" + inning);
        inningDetail.classList.add("current-inning");
        resetInning();
      }
    } else {
      at_bat = "visitor"
      var inningElement = document.getElementById("inning");
      inningElement.innerHTML = "TOP " + inning;
      var inningDetail = document.getElementById("home_" + inning);
      inningDetail.classList.remove("current-inning");
      inningDetail = document.getElementById("visitor_" + inning);
      inningDetail.classList.add("current-inning");
      resetInning();
    }

  }

  function inningUp() {
    if (at_bat == "visitor") {


        at_bat = "home"
        var inningElement = document.getElementById("inning");
        inningElement.innerHTML = "BOT " + inning;
        var inningDetail = document.getElementById("visitor_" + inning);
        inningDetail.classList.remove("current-inning");
        inningDetail = document.getElementById("home_" + inning);
        inningDetail.classList.add("current-inning");
        resetInning();
    } else {
      if (inning < 9) {
      at_bat = "visitor"
      var inningDetail = document.getElementById("home_" + inning);
      inningDetail.classList.remove("current-inning");
      inning++;
      var inningElement = document.getElementById("inning");
      inningElement.innerHTML = "TOP " + inning;
      inningDetail = document.getElementById("visitor_" + inning);
      inningDetail.classList.add("current-inning");
      resetInning();
    }
  }

  }

  function resetInning() {
    singles = 0;
    doubles = 0;
    triples = 0;
    outs = 0;

    singlesElem = document.getElementById("singles");
    singlesElem.innerHTML = singles;
    light = document.getElementById("single-light-1");
    light.classList.remove("led-red-on");
    light.classList.add("led-red");
    light = document.getElementById("single-light-2");
    light.classList.remove("led-red-on");
    light.classList.add("led-red");
    light = document.getElementById("single-light-3");
    light.classList.remove("led-red-on");
    light.classList.add("led-red");
    doublesElem = document.getElementById("doubles");
    doublesElem.innerHTML = doubles;
    light = document.getElementById("double-light-1");
    light.classList.remove("led-red-on");
    light.classList.add("led-red");
    light = document.getElementById("double-light-2");
    light.classList.remove("led-red-on");
    light.classList.add("led-red");
    light = document.getElementById("double-light-3");
    light.classList.remove("led-red-on");
    light.classList.add("led-red");
    triplesElem = document.getElementById("triples");
    triplesElem.innerHTML = triples;
    light = document.getElementById("triple-light-1");
    light.classList.remove("led-red-on");
    light.classList.add("led-red");
    light = document.getElementById("triple-light-2");
    light.classList.remove("led-red-on");
    light.classList.add("led-red");
    light = document.getElementById("triple-light-3");
    light.classList.remove("led-red-on");
    light.classList.add("led-red");
    outsElem = document.getElementById("out-count");
    outsElem.innerHTML = outs;
    light = document.getElementById("out-light-1");
    light.classList.remove("led-red-on");
    light.classList.add("led-red");
    light = document.getElementById("out-light-2");
    light.classList.remove("led-red-on");
    light.classList.add("led-red");
    if (at_bat == "visitor") {
      var runs = visitor_scores[inning - 1];
      var runsElement = document.getElementById("runs-count");
      runsElement.innerHTML = runs;
    } else {
      var runs = home_scores[inning - 1];
      var runsElement = document.getElementById("runs-count");
      runsElement.innerHTML = runs;
    }
    updateScoreboard();
  }

  function updateScoreboard(){
    var hs = home_scores;
    var vs = visitor_scores;
    var inn = inning;
    var ab = at_bat;
    var sing = singles;
    var doub = doubles;
    var trip = triples;
    var out = outs;
    var data = {
      home_scores: hs,
      visitor_scores: vs,
      inning: inn,
      at_bat: ab,
      singles: sing,
      doubles: doub,
      triples: trip,
      outs: out,
    }
    $.ajax({
      url: "<%= update_scoreboard_url %>", // this will be routed
      type: 'POST',
      dataType: 'json', // payload is json
      contentType : 'application/json',
      data: JSON.stringify(data),
      async: true,
      dataType: "json",
      success: function (data) {
                    console.log('success');

                }
    })

  }




</script>
